html,body{
    margin:0;
    padding: 10px;
    background: #EFEFEF;
}

/** section layout **/
.section{
    background: #fff;
    padding: 10px 20px;
    margin-top:10px;
}
.section p{
    padding-left: 20px;
}
.section h3{
    padding-left: 20px;
}

/** percent layout **/
.percent{
    position:relative;
    overflow: hidden;
    padding: 0;
}
.percent:after{
    clear: left;
}

.percent div{
    float:left;
    padding: 10px;
    box-sizing:border-box;
}
.percent .percent{
    padding: 0;
}
.p1{width:1%}.p2{width:2%}.p3{width:3%}.p4{width:4%}.p5{width:5%}.p6{width:6%}.p7{width:7%}.p8{width:8%}.p9{width:9%}.p10{width:10%}.p11{width:11%}.p12{width:12%}.p13{width:13%}.p14{width:14%}.p15{width:15%}.p16{width:16%}.p17{width:17%}.p18{width:18%}.p9{width:19%}.p20{width:20%}  .p21{width:21%}.p22{width:22%}.p23{width:23%}.p24{width:24%}.p25{width:25%}.p26{width:26%}.p27{width:27%}.p28{width:28%}.p29{width:29%}.p30{width:30%}.p31{width:31%}.p32{width:32%}.p33{width:33%}.p34{width:34%}.p35{width:35%}.p36{width:36%}.p37{width:37%}.p38{width:38%}.p39{width:39%}.p40{width:40%}.p41{width:41%}.p42{width:42%}.p43{width:43%}.p44{width:44%}.p45{width:45%}.p46{width:46%}.p47{width:47%}.p48{width:48%}.p49{width:49%}.p50{width:50%}.p51{width:51%}.p52{width:52%}.p53{width:53%}.p54{width:54%}.p55{width:55%}.p56{width:56%}.p57{width:57%}.p58{width:58%}.p59{width:59%}.p60{width:60%}.p61{width:61%}.p62{width:62%}.p63{width:63%}.p64{width:64%}.p65{width:65%}.p66{width:66%}.p67{width:67%}.p68{width:68%}.p69{width:69%}.p70{width:70%}.p71{width:71%}.p72{width:72%}.p73{width:73%}.p74{width:74%}.p75{width:75%}.p76{width:76%}.p77{width:77%}.p78{width:78%}.p79{width:79%}.p80{width:80%}.p81{width:81%}.p82{width:82%}.p83{width:83%}.p84{width:84%}.p85{width:85%}.p86{width:86%}.p87{width:87%}.p88{width:88%}.p89{width:89%}.p90{width:90%}.p91{width:91%}.p92{width:92%}.p93{width:93%}.p94{width:94%}.p95{width:95%}.p96{width:96%}.p97{width:97%}.p98{width:98%}.p99{width:99%}.p100{width:100%}                                                                                                                                                

/** row layout **/
.InlineBlocks{

}
.InlineBlocks .ib-height{
    height:40px;
    background: #fff;
    width: 1px;
}
.InlineBlocks .span,.InlineBlocks a{
    display:inline-block;
}

/** form layout **/
.form{
    margin-top:-10px;
}
.form .fm-row{
    margin-top: 10px;
}
.form .fm-group{
    
}
.form .fm-label,form .fm-value{
    display: table-cell;
    vertical-align: middle;
}
.form .fm-label{
    text-align: right;
}

/** controls **/
.button{
    padding:5px 10px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    display: inline-block;
    background:#f6f6f6 ;
}
.button:hover{
    border: 1px solid #e0e0e0;
    background: #EFEFEF;
}
.button.bt_submit{
    background:#00a200;
    color:white;
}
.button.bt_submit:hover{
    background: #008000;
}
.button.bt_cancle{
    background:#2694be ;
    color:white;
}
.button.bt_cancle:hover{
    background: #267fa9;
}

.button .bt_likeA{
    padding:0;
    border:none;
    text-decoration:underline;
    color: #81d2ef;
}
.button .bt_likeA:hover{
    color: #77a5ef;
}

/** min unit **/
.ml5{ margin-left: 5px;!important;}.ml10{margin-left: 10px;!important;}.ml15{margin-left: 15px;!important;}.ml20{margin-left: 20px;!important;}.ml30{margin-left: 30px;!important;}.ml40{margin-left: 40px;!important;}.ml50{margin-left: 50px;}
.mr5{ margin-right: 5px;!important;}.mr10{margin-right: 10px;!important;}.mr15{margin-right: 15px;!important;}.mr20{margin-right: 20px;!important;}.mr30{margin-right: 30px;!important;}.mr40{margin-right: 40px;!important;}.mr50{margin-right: 50px;}
.mt5{margin-top:5px;!important;}.mt10{margin-top: 10px;!important;}.mt15{margin-top:15px;!important;}.mt20{margin-top:20px;!important;}.mt30{margin-top: 30px;!important;}.mt40{margin-top:40px;!important;}.mt50{margin-top:50px;!important;}

