html,body{
    margin:0;
    padding:10px;
    background:#EFEFEF;
}

div{
    box-sizing:border-box;
}

/** alignment **/
.left,.lefts{
    text-align: left;
}
.right,.rights{
    text-align: right;
}
.center,.centers{
    text-align: center;
}
.top,.tops>div{
    display: inline-block;
    vertical-align: top;
    zoom:1;
}
.middle,.middles>div{
    display: inline-block;
    vertical-align: middle;
    zoom:1;
}
.bottom,.bottoms>div{
    display: inline-block;
    vertical-align: bottom;
    zoom:1;
}

.middles:before,.tops:before,.bottoms:before{
    height:100%;
    display: inline-block;
    content:"&nbsp";
    width:0px;
    overflow: hidden;
    margin-left: -8px;
    margin-left: -4px\9;
    zoom: 1;
    background: none;
}
.middles:before{
    vertical-align: middle;
}
.tops:before{
    vertical-align: top;
}
.bottoms:before{
    vertical-align: bottom;
}


/** floats **/
.float.fl_left,.floats.fl_left>div{
    float:left;
}
.float.fl_right,.floats.fl_right>div{
    float:right;
}

/** percent layout **/
.justifies{
    width:100%;
    display: table;
}

.justifies>div,div.justifies.middles>div{
    display: table-cell;
}
.justifies .justifies{
    padding:0;
}

.justifies>.jf-fixed{
    width:150px;
    min-width: 150px;
}

.justifies>.tops,.justifies.tops{
    vertical-align: top;
}
.justifies>.middles,.justifies.middles{
    vertical-align: middle;
}
.justifies>.bottoms,.justifies.bottoms{
    vertical-align: bottom;
}
.justifies>.tops>div,.justifies>.middles>div,.justifies>.bottoms>div{
    display: block;
}
.justifies>.tops:before,.justifies.tops:before,.justifies>.middles:before,.justifies.middles:before,.justifies>.bottoms:before,.justifies.bottoms:before{
    display: none;
    height: 0;
    margin-left: 0;
    content: "";
}

/** form layout **/
.form{
    display: table;
    width:100%;
}
.form>div,.form>.fm-group>div{
    display: table-cell;
    vertical-align: middle;
}
.form .fm-label{
    min-width:150px;
    text-align: right;
}
.form .fm-value{
    width:100%;
}

/** controls **/
.button{
    padding:5px 10px;
    cursor:pointer;
    border:1px solid #e9e9e9;
    border-radius:5px;
    display:inline-block;
    background:#f6f6f6 ;
}
.button:hover{
    border:1px solid #e0e0e0;
    background:#EFEFEF;
}
.button.bt_submit{
    background:#00a200;
    color:white;
}
.button.bt_submit:hover{
    background:#008000;
}
.button.bt_cancle{
    background:#2694be ;
    color:white;
}
.button.bt_cancle:hover{
    background:#267fa9;
}

.button .bt_likeA{
    padding:0;
    border:none;
    text-decoration:underline;
    color:#81d2ef;
}
.button .bt_likeA:hover{
    color:#77a5ef;
}

/** global percent values **/
.j1{width:1%}.j2{width:2%}.j3{width:3%}.j4{width:4%}.j5{width:5%}.j6{width:6%}.j7{width:7%}.j8{width:8%}.j9{width:9%}.j10{width:10%}.j11{width:11%}.j12{width:12%}.j13{width:13%}.j14{width:14%}.j15{width:15%}.j16{width:16%}.j17{width:17%}.j18{width:18%}.j9{width:19%}.j20{width:20%}  .j21{width:21%}.j22{width:22%}.j23{width:23%}.j24{width:24%}.j25{width:25%}.j26{width:26%}.j27{width:27%}.j28{width:28%}.j29{width:29%}.j30{width:30%}.j31{width:31%}.j32{width:32%}.j33{width:33%}.j34{width:34%}.j35{width:35%}.j36{width:36%}.j37{width:37%}.j38{width:38%}.j39{width:39%}.j40{width:40%}.j41{width:41%}.j42{width:42%}.j43{width:43%}.j44{width:44%}.j45{width:45%}.j46{width:46%}.j47{width:47%}.j48{width:48%}.j49{width:49%}.j50{width:50%}.j51{width:51%}.j52{width:52%}.j53{width:53%}.j54{width:54%}.j55{width:55%}.j56{width:56%}.j57{width:57%}.j58{width:58%}.j59{width:59%}.j60{width:60%}.j61{width:61%}.j62{width:62%}.j63{width:63%}.j64{width:64%}.j65{width:65%}.j66{width:66%}.j67{width:67%}.j68{width:68%}.j69{width:69%}.j70{width:70%}.j71{width:71%}.j72{width:72%}.j73{width:73%}.j74{width:74%}.j75{width:75%}.j76{width:76%}.j77{width:77%}.j78{width:78%}.j79{width:79%}.j80{width:80%}.j81{width:81%}.j82{width:82%}.j83{width:83%}.j84{width:84%}.j85{width:85%}.j86{width:86%}.j87{width:87%}.j88{width:88%}.j89{width:89%}.j90{width:90%}.j91{width:91%}.j92{width:92%}.j93{width:93%}.j94{width:94%}.j95{width:95%}.j96{width:96%}.j97{width:97%}.j98{width:98%}.j99{width:99%}.j100{width:100%}

.clearFix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearFix {
    zoom: 1;
}

/** margin **/
.mtSmall,.mtSmalls>div{margin-top:5px;}.mtSmalls>div:first-child{ margin-top:0;}.mlSmall,.mlSmalls>div{margin-left: 5px;}.mlSmalls>div:first-child{margin-left: 0;}.mt,.mts>div{margin-top:5px;}.mts>div:first-child{margin-top:0;}  .ml,.mls>div{margin-left: 10px;}.mls>div:first-child{margin-left: 0;}.mtLarge,.mtLarges>div{margin-top:20px;}.mtLarges>div:first-child{    margin-top:0;}.mlLarge,.mlLarges>div{margin-left: 20px;}.mlLarges>div:first-child{margin-left: 0;}