body{
    line-height:24px;
}
span{
    padding:0 5px;
}
/** section layout **/
.section{
    background:#fff;
    padding:10px 20px;
    margin-top:10px;
}
.section .sc-title{

}
.section .sc-content{
    margin-left:25px;
}

.example{
    color:#fff;
    font-weight: bold;
}
.fixedAreaH,.fixedAreaHs>div{
    width:200px;
}
.fixedAreaV,.fixedAreaVs>div{
    height:100px;
}

.fixedArea,.fixedAreas>div{
    height: 100px;
    width:200px;
}

.pds>div{
    padding:10px;
}

/*.vDiv.ml:after,.mls>.vDiv:after,.vDivs.mls>div:after{
    content: " ";
    display: table-cell;
    width:5px;
    height: 100px;
    background: #CF6161;
    vertical-align: top;
}*/
.vDivs.mls>div{
    zoom: 1;
}

.floats.fl_left{
    margin-left:-5px;
}
.floats.fl_left.fl_5>div{
    margin-left:5px;
}
xmp{
    background: #EFEFEF;
    width:100%;
    overflow-x: scroll;
}
xmp.xmp_notCkcss{
    color:#CF6161;
    border:1px solid #CF6161;
}

.moreContent{
    display: none;
}
.someArea .button{
    font-size:10px;
}
.redBg{
    background: #CF6161;
}
.blueBg,.blueBgs>div{
    background: #59bad6;
}
.yellowBg{
    background: #c1d661;
}
.greenBg{
    background: #81ce8b;
}
.grayBg{
    background: #AAAAAA;
}

.somePage.justifies>.jf-left{
    width:200px;
}

.somePage.justifies>.jf-right{
    width:240px;
}

.inlineBlocks.ib_example>div{
    background: #77a5ef;
}

.JVMR>div{
    /*height: 100px;*/
}