/** section layout **/
.section{
    background:#fff;
    padding:10px 20px;
    margin-top:10px;
}
.section p{
    padding-left:20px;
}
.section h3{
    padding-left:20px;
}

xmp{
    margin-left: 20px;
    background: #EFEFEF;
    padding-bottom: 20px;
}
xmp.xmp_notCkcss{
    color:#CF6161;
    border:1px solid #CF6161;
}
.moreContent{
    display: none;
}
.someArea .button{
    font-size:10px;
}
.redBg{
    background: #CF6161;
}
.blueBg{
    background: #59bad6;
}
.yellowBg{
    background: #c1d661;
}
.greenBg{
    background: #81ce8b;
}
.grayBg{
    background: #f8f8f8;
}

.somePage.justifies.j_WFS>.jw-left{
    width:200px;
}
.somePage.justifies.j_WFS.jw_left>.jw-content,.somePage.justifies.j_WFS.jw_both>.jw-content{
    margin-left: 200px;
}
.somePage.justifies.j_WFS>.jw-right{
    width:240px;
}
.somePage.justifies.j_WFS>.jw_right>.jw-content,.somePage.justifies.j_WFS.jw_both>.jw-content{
    margin-right: 240px;
}

.inlineBlocks.ib_example>div{
    background: #77a5ef;
}

.JVMR>div{
    /*height: 100px;*/
}